    <link rel="stylesheet" href="/styles/style.css" type="text/css"/>
    <header>   
        <div class="main">
          <div class="lllll">          
            <div id="myDIV">
              <div id="myDIV1">
              </div>
              <div id="myDIV2">
              </div>
              <div id="myDIV3">
              </div>
              <div id="myDIV4">
              </div>
              <div id="myDIV5">
              </div>
          </div>
          <div id="myDIVttt">
              <div id="myDIV11">
              </div>
              <div id="myDIV22">
              </div>
              <div id="myDIV33">
              </div>
              <div id="myDIV44">
              </div>
               <div id="myDIV55">
              </div>
          </div>         
          </div>
        </div>
        <div class="main2">
          <img src="/images/img/Group%201216.svg"/>
        <h2>Вход</h2>
        <form method="POST" action="/admin/login">
        <input type="login" name="email" class="Log" placeholder="Логин" />
        <input type="password" name="password" class="Log" placeholder="Пароль" />
        <div class="Check">
          <div class="Remind">
            <input type="checkbox" /><span>Запомнить</span>
          </div>
          <p><a href="/admin/password-restore" class="restorePassword">Восстановить пароль</a></p>
        </div>
        <button>Вход</button>
        </form>
        <div class="LinkReg">
          <p>Не зарегистрированы?</p>
          <a href="/admin/register"
            >Регистрация</a
          >
        </div>      
    </header>
     <script src="/js/index2.js"></script>

     {{!-- <script>
        window.history.replaceState("login","login","/admin");
    </script> --}}