<link rel="stylesheet" href="/styles/style.css" />
<link rel="stylesheet" href="/styles/index2.css" />
<div class="Message1">
  <div class="MessageText1">
    <img
      src="/images/img/Group%20931.svg"
      id="MessageTextIcon1"
      onclick="RemoveMessage()"
    />
    <p class="MessageTextP1">
      К вам на почту поступит письмо ссылкой, для восстановления пароля.
    </p>
  </div>
</div>
<header>
  <div class="main">
    <div class="lllll">
      <div id="myDIV">
        <div id="myDIV1"></div>
        <div id="myDIV2"></div>
        <div id="myDIV3"></div>
        <div id="myDIV4"></div>
        <div id="myDIV5"></div>
      </div>
      <div id="myDIVttt">
        <div id="myDIV11"></div>
        <div id="myDIV22"></div>
        <div id="myDIV33"></div>
        <div id="myDIV44"></div>
        <div id="myDIV55"></div>
      </div>
    </div>
  </div>
  <div class="main2">
    <img src="/images/img/Group%201216.svg" />
    <form class="form" action="/admin/password-restore" method="POST">
      <input type="email" id="Email" placeholder="email" name="email" />
      <button>Отправить сообщение на email</button>
    </form>
  </div>
</header>
<script src="/js/helper.js"></script>
<script src="/js/index2.js"></script>